.nav {
  grid-area: nav;
}

.sidebar {
  grid-area: sidebar;
  width: 260px;
  min-height: 100vh;
  background: rgba(14, 74, 74, 0.85);
  border-right: 1px solid #e2e8f0;
  padding: 20px;
}

.main {
  grid-area: main;
  padding: 40px;
  background: #f9fafb;
  min-height: 100vh;
}

.header h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 6px;
}

.header p {
  color: #555;
  margin-bottom: 25px;
}


.requestsGrid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.card {
  background: white;
  border-radius: 18px;
  padding: 22px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
  border: 1px solid rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
}


.card h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}


.desc {
  font-size: 14px;
  color: #444;
  margin-bottom: 15px;
}

.meta {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #00796b;
  margin-bottom: 18px;
}

.btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 12px;
  background: #00796b;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background: #005f56;
}

.layout {
  display: grid;
  transition: grid-template-columns 0.3s ease;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    "nav nav"
    "sidebar main";
}

.sidebarHidden {
  grid-template-columns: 0px 1fr;
}

.sidebarHidden .sidebar {
  padding: 0;
  overflow: hidden;
}

.sidebar {
  grid-area: sidebar;
  width: 260px;
  min-height: 100vh;
  background: rgba(14, 74, 74, 0.85);
  border-right: 1px solid #e2e8f0;
  padding: 20px;

}

.toggleBtn {
  position: absolute;
  left: 10px;
  top: 85px;
  z-index: 1000;
  background: #00796b;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
