.header h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 6px;
}

.header p {
  color: #555;
  margin-bottom: 25px;
}

.requestsGrid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.card {
  width: 100%;
  max-width: 500px;  
  background: white;
  border-radius: 18px;
  padding: 22px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.06);
  border: 1px solid rgba(0,0,0,0.05);
  transition: 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
}


.card h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}


.desc {
  font-size: 14px;
  color: #444;
  margin-bottom: 15px;
}

.btn_review
{
    list-style: none;
    display: flex;
    gap: 15px;
    padding-left: 0px;
    margin-top: 20px;
}

.btn_accept {
 
  padding: 10px;
  border: none;
  border-radius: 12px;
  background: #15b241;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.btn_accept:hover {
  background: #2ba520;
}

.btn_reject {
 
  padding: 10px;
  border: none;
  border-radius: 12px;
  background: #cb0a0a;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.btn_reject:hover {
  background: #be1e1e;
}

.star
{
    font-size: 29px;
    color: #fbbf24;
    margin-bottom: 4px;
}

.rating
{
    display: flex;
    align-items: center;
    gap: 4px;
}