body
{
    background: linear-gradient(180deg, #bbd5d5, #ffffff);
}

.container_serviceCard
{
    padding: 15px 60px;
}

.grid_service
{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
}