.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
  color: rgba(255, 255, 255, 0.92);
  margin-top: 40px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 14px;
  
}

.menu button {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.92);
  font-size: 15px;
  background: transparent;
  padding: 10px 12px;
  border-radius: 8px;
  border: none;
  transition: 0.2s;
}

.menu button:hover {
  background: #e2e8f0;
  color: rgb(43, 43, 43);
  width: 100%;
  display: flex;
  justify-content: start;
  
}

.list_sidebar
{
  list-style: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}